<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
    <h1 class="text-center title-1"> Cadastro de softskills </h1>
    <form action="/config" method="post">
       
        <p>SoftSkill:<input type="text" name="name" /></p>
        <p><input type="submit" value="Add" /></p>
        

    </form>
</body>

</html>