<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
    <h1 class="text-center title-1"> Cadastro de Projetos </h1>
    <form action="/configProjects" method="post" >
       
        <p>Name:<input type="text" name="nome" /></p>
        <p>Nature:<input type="text" name="natureza" /></p>
        <p>Begin:<input type="text" name="inicio" /></p>
        <p>End:<input type="text" name="fim" /></p>
        <p>Team:<input type="text" name="texto_team" /></p>
        <p>Technolgies:<input type="text" name="tag1" /></p>
        <p>Soft Skills:<input type="text" name="tag2" /></p>



        <p><input type="submit"   value="Add"  ></p>
        

    </form>
</body>



</html>