
<!DOCTYPE html>
<html lang="pt">
<head>

  <title>Profiles</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <style>


.grafico-conexoes::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
  }

  .grafico-conexoes::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do trilho da barra de rolagem */
  }

  .grafico-conexoes::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra de rolagem */
  }

  .grafico-conexoes::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra de rolagem ao passar o mouse */
  }


      .bubble {
            fill-opacity: 0.7;
            margin: auto; 
             display: block;
        }
        .bubble:hover {
            fill-opacity: 1;
        }
        .popup {
            position: absolute;
            display: none;
            background-color: white;
            border: 0px solid black;
            padding: 10px;
            border-radius: 10px;
        }
        img.user-icon {
    filter: brightness(350%); /* Ajuste o valor conforme necessário */
}

.link {
            stroke: #aaa;
        }
        .node {
            fill: steelblue;
            stroke: white;
            stroke-width: 1.5px;
        }
         /* Estilos adicionais aqui */
         .link { stroke: #aaa; }
        .node { fill: steelblue; stroke: white; stroke-width: 1.5px; }
        .hidden { display: none; }
        .username-list { cursor: pointer; }




#card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 5000px; /* Adiciona perspectiva para o efeito visual */
}



.main {
    transform: scale(1.5); /* Aumenta o tamanho do cartão do meio */
    opacity: 1; /* Sem transparência para o cartão do meio */
    z-index: 1; /* Garante que o cartão do meio esteja sobre os outros */
}

.card-container {
  display: flex;
  justify-content: space-around;
}
.laterais{
  opacity: 0.5; /* Transparência para os cartões laterais */
  transform: scale(1);
}

.cardProfile {
  width: 150px;
  height : 250px;

  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
  position: relative;
  border: 3px solid transparent; /* Espaço reservado para a borda */
 
  
    cursor: pointer;
    margin: 0 10px; /* Espaçamento entre cartões */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.card[data-role="Project Manager"] {
  border-color: green; /* Borda verde para Project Managers */
}

.card:not([data-role="Project Manager"]) {
  border-color: blue; /* Borda azul para outros */
}

.card-header {
  background-color: #333;
  color: #333;
  padding: 1;
  text-align: center;
  font-size: 13px; /* Tamanho da fonte pequeno */
  
}

.card-content {
  padding: 1px;
}

.card-footer {
  padding: 1px 2px;
  background-color: #7595ff;
}
.avatar-manager {
  width: 25%; /* Adjust as needed */
    border-radius: 50%;
    margin: 10px 0;
    border: 3px solid green; /* Ajuste a espessura da borda conforme necessário */
  text-align: center;

}

.avatar-non-manager {
  width: 25%; /* Adjust as needed */
    border-radius: 50%;
    margin: 10px 0;
    border: 3px solid blue; /* Ajuste a espessura da borda conforme necessário */
  text-align: center;

}


.card-header, .card-footer {
    padding: 1px 2px; /* Reduz o padding */
    font-size: 10px; /* Tamanho da fonte reduzido */
    margin: 0; /* Remove qualquer margin padrão */
    line-height: 1; /* Altura da linha reduzida */
}

.card-body {
    padding: 1px; /* Reduzido */
    font-size: 9px; /* Tamanho da fonte pequeno */
    max-height: 1px; /* Ajusta a altura para auto se necessário */
   
    margin: 0; /* Remove qualquer margin padrão */
    line-height: 1; /* Altura da linha reduzida */
    text-align: left; /* Alinha o texto à esquerda */
}



.card-position {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px; /* Tamanho pequeno da fonte */
    color: gray; /* Cor cinza */
}
/* Estilos adicionais aqui */



.card-details span {
    display: block; /* Cada span em sua própria linha */
    text-align: left; /* Alinha o texto à esquerda */
    line-height: 1.2;
    margin: 2px 0; /* Espaçamento reduzido entre linhas */
}
.cardProfile.laterais:hover {
    transform: scale(1.2); /* Ligeiramente maior ao passar o mouse */
}


.peso-fonte {
    font-size: 8px; /* Ou qualquer tamanho que você deseje */
}

.conexao-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.conexao-nome {
    margin-bottom: 5px;
}

.conexao-barra {
    position: relative;
    height: 5px;
    background-color: rgb(2, 112, 255);
    width: 20%; /* Garantir que a barra ocupe toda a largura disponível */
}

.conexao-peso-sobreposto {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}




.graficos {
    display: flex;
    justify-content: space-between;
}
.grafico-spacer {
    width: 20px; /* Você pode ajustar essa largura conforme necessário */
}

.grafico-hardskills {
  display: block;
    align-items: left;
    margin-top: 10px; /* Espaçamento do topo */
    flex: 1;
    margin: 0 5px;
}



.grafico-conexoes {
    display: block;
    align-items: left;
    margin-top: 10px; /* Espaçamento do topo */
    flex: 1;
    margin: 0 5px;
}

.hardskill-item, .conexao-item {
    margin-bottom: 5px;
}

.hardskill-nome{
    display: block;
    margin-bottom: 5px;
}

.hardskill-barra {
    height: 5px;
    background-color: rgb(3, 212, 115);
}




    </style>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  
  <link rel="stylesheet" href="https://felipeomc.github.io/te/ekko-lightbox.css">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Felipeomc/team/all.min.css">
 
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Felipeomc/team/adminlte.min.css">
 
 <link rel="stylesheet" type="text/css" href="bootstrap-datepicker.css" >
 
 <link rel="stylesheet" href="https://felipeomc.github.io/te/simpleTimeline.css" />




<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Felipeomc/team/jquery.tagsinput-revisited.css">-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 

<script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!--<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>-->

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script language="JavaScript" src="projetos.js"></script>


<script language="JavaScript" src="populacao.js"></script>
<script language="JavaScript" src="teste_algo_genetic.js"></script>

<script language="JavaScript" src="C:/Users/Felipe/Works/web-ap/routes/index.js"></script>




<script src="simpleTimeline.js"></script>


<script src="resize.js"></script>


	
<script type="text/javascript" src="bootstrap-datepicker.js"></script>

<!-- pop up para mostrar projectso similares-->

 <link rel="stylesheet" type="text/css" href="pop.min.css">
<script type="text/javascript" src="pop.min.js"></script>

 
  

	<script>



			$(function() {

			$('.dates #usr1').datepicker({
				'format': 'yyyy',
				'autoclose': true
			});


		});
		$(function() {

			$('.dates #usr2').datepicker({
				'format': 'yyyy',
				'autoclose': true
			});


		});
			</script>


<style>

.popup .but button{
    display: block;
    margin:  0 0 10px auto;
    background-color: transparent;
    font-size: 20px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup{
    background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    font-family: "Poppins",sans-serif;
   
}

.capitalized {
	text-transform: capitalize;
}

.Busca_valor {
    width: 85%;
    
    height: 20px; 
    float: left;
}

.insert_busca_width {
    background-color: #ff3c00;
    height: 17px;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}


.btn-rounded {

    border-radius: 0.2em;
	font-size:16px;
}
			#timeline {
				position: relative;
				margin-top: 20px;
				max-width: 100%;
				overflow-x: auto;
				overflow-y: hidden;
				border: 1px solid dimgray;
				box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
			}
			
			#timeline .selected	{
				font-weight: bold;
				box-shadow: 0px 0px 3px 1px gray;
			}
			
			#timeline-collapse {
				top: 355px
			}
			
			.styleA {
				color: darkgreen;
				background-color: lightgreen;
			}
			
			.styleB {
				color: darkred;
				background-color: mistyrose;
			}
			
			.styleC {
				color: darkblue;
				background-color: lightblue;
			}
			
			.timeline-unused-phase {
				background: repeating-linear-gradient(
					-45deg,
					rgba(255,255,255,0.85),
					rgba(255,255,255,0.85) 10px,
					rgba(235,235,235,0.85) 10px,
					rgba(235,235,235,0.85) 20px
				);
			}
			
			/* NOTE: YOU MIGHT ALSO NEED TO ADAPT THE COLLAPSE/EXPAND TOGGLE POSITIONS IN simpleTimeline.css
			






.content-wrapper{
	display:none;
}	
.tooltipe {
    width:350px;
    height:60px;
    padding:5px;
    border:1px solid #ccc;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
    border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    font-size:12px;
    right:60px;
	top:-20px;
    display:none;
	cursor: pointer;
			background-color: #556270;
}
.tooltipe2 {
    width:340px;
    height:60px;
    padding:5px;
    border:1px solid #ccc;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
    border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    font-size:12px;
    top:-80px;
    display:none;
	cursor: pointer;
	background-color: #556270;
		
}



.tagsinput2{
background-color:#ff6a00;
}

.tagsinput {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	box-sizing: border-box;
	background: #fff;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #556270;
	padding: 5px 5px 0 5px;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
}

.tagsinput.focus {
	border-color: #e6e6e6;
}

.tagsinput * {
	box-sizing: border-box;
}

.tagsinput .tag {
	position: relative;
	background:  #556270;
	display: block;
	max-width: 100%;
	word-wrap: break-word;
	color: #fff;
	padding: 5px 30px 5px 5px;
	border-radius: 2px;
	margin: 0 5px 5px 0;
}

.tagsinput .tag .tag-remove {
	position: absolute;
	background: none;
	display: block;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	color: white;
	line-height: 30px;
	padding: 0;
	border: 0;
}

.tagsinput .tag .tag-remove:before,
.tagsinput .tag .tag-remove:after {
	background: white;
	position: absolute;
	display: block;
	width: 10px;
	height: 2px;
	top: 14px;
	left: 10px;
	content: '';
}

.tagsinput .tag .tag-remove:before {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.tagsinput .tag .tag-remove:after {
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

.tagsinput div {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.tagsinput div input {
	background: white;
	display: inline;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	padding: 5px;
	border: 0 none;
	margin: 0 5px 5px 0;
}

.tagsinput div input.error {
	color: #ff6b6b;
}

.tagsinput div input::-ms-clear {
	display: none;
}

.tagsinput div input::-webkit-input-placeholder {
	color: #ccc;
	opacity: 100%;
}

.tagsinput div input:-moz-placeholder {
	color: #ccc;
	opacity: 1.0;
}

.tagsinput div input::-moz-placeholder {
	color: #ccc;
	opacity: 1.0;
}

.tagsinput div input:-ms-input-placeholder {
	color: #ccc;
	opacity: 1.0;
}




.skill {
  
  border: 1px solid white;
  padding: 0 6px;
  margin-right: 2px;
  color: white;
  border-radius: 6px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  
  background-color: #f1f1f1;
}
     

.card-box {
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #fff;
	cursor:pointer;
}


.thumb-lg {
    height: 70px;
    width: 70px;
}
.img-thumbnail {
    padding: .10rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .10rem;
    max-width: 90%;
    height: auto;
}


.btn-rounded {

    border-radius: 1em;
	font-size:13px;
}
.text-muted {
    color: #98a6ad!important;
}

.porcentag {
			  float:right;   
			
			  
			  
			  
			   margin-left: 15px;
				
				
				
				font-size: 16px;
				line-height: 10px;
				
			 
}
			
			.tagator_element *{
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			text-decoration:none
			}
			#tagator_dimmer{
			background-color:rgba(0,0,0,.1);
			width:100%;
			height:100%;
			position:fixed;
			z-index:100
			}
			.tagator_element{
			border:1px solid #abadb3;
			border-radius:3px;
			box-sizing:border-box;
			background-color:#fff;
			display:inline-block;
			text-decoration:none
			}
			.tagator_element.options-visible{
			position:relative;z-index:101
			}
			.tagator_tags{
			display:inline
			}
			.tagator_tag{
			display:inline-block;
			background-color:#39f;  
			border-radius:2px;
			color:#fff;
			padding:2px 20px 2px 4px;
			font-size:13px;
			margin:2px;
			position:relative;
			vertical-align:top
			}.tagator_tag_remove{
			display:inline-block;
			font-weight:bold;
			color:#fff;
			margin:0 0 0 5px;padding:6px 5px 4px 5px;cursor:pointer;font-size:11px;line-height:10px;vertical-align:top;border-radius:0 2px 2px 0;position:absolute;right:0;top:0;bottom:0}.tagator_tag_remove:hover{color:#000;background-color:#8cf}.tagator_input,.tagator_textlength{border:0;display:inline-block;margin:0;background-color:transparent;font-size:13px;outline:0;padding:4px 0 0 5px}.tagator_options{margin:0;padding:0;border:1px solid #7f9db9;border-radius:0 0 3px 3px;font-family:sans-serif;position:absolute;box-sizing:border-box;-moz-box-sizing:border-box;z-index:101;background-color:#fff;overflow:auto;max-height:250px;list-style:none;left:-1px;right:-1px}.tagator_element.options-hidden .tagator_options{display:none}.tagator_option{padding:5px;cursor:pointer;color:#000}.tagator_option.active{background-color:#39f;color:#fff}
		
</style>
  
  
  
</head>

<body class="hold-transition sidebar-mini">


   


  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
 

      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="#" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="#" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="#" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="https://as1.ftcdn.net/jpg/02/18/23/06/500_F_218230681_UrFaxawyNMGAN6lRIAk99or1eT9VxMCI.jpg" alt=" Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Team Plus</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://felipeomc.github.io/te/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" id="nome_usuario"  style="color:#fff" value="" class="d-block" ></a>
          <a href="#" id="perfil_usuario"  style="color:#fff" value="" class="d-block" ></a>
          
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
		<!--<li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                
                <span class="right badge badge-danger"></span>
              </p>
            </a>
          </li>-->
		  <li class="nav-item">
            <a href="/projeto2" id="proj" class="nav-link" onclick="">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Projects
                <span class="right badge badge-danger"></span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/skills-chart"  class="nav-link" onclick="">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Technologies
                <span class="right badge badge-danger"></span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/connections"  class="nav-link" onclick="">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Connections
                <span class="right badge badge-danger"></span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/profiles"  class="nav-link" onclick="">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Profiles
                <span class="right badge badge-danger"></span>
              </p>
            </a>
          </li>
		  <!--<li class="nav-item">
            <a href="form.html" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
               Form teams
                <span class="badge badge-info right">+</span>
              </p>
            </a>
          </li>-->
		  <li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
		<li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon "></i>
              <p>
			
				<i class="fas "></i>
              </p>
            </a>
		</li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>




  <!-- / INICIO   PROJETOS TIMELINE -->



<div class="content-wrapper" style="display:block"  id="projects" >
    <!-- Content Header (Page header) -->
    






    <!-- Main content -->
	
	
	
    <section id="projeto" class="content">
      
       
          
          <div class="col-12 ">
            <div class="card card-primary">
              <div class="card-header">
                <h4 class="card-title">Profiles </h4>
              </div>


        <!-- HTML Estrutura dos Cartões -->
        <div id="card-container">
          <div class="cardProfile laterais" id="card-left"></div>
          <div class="cardProfile main" id="card-center"></div>
          <div class="cardProfile laterais" id="card-right"></div>
        </div>
          

        <script>
          let currentIndex = 0;
          let perfis =  [];  // Inicializa perfis como array vazio
          let avatarClass
          // Função para montar e atualizar os cartões
          function MontarPerfilCard() {
            $.getJSON("/dados-do-grafo", function(dadosGrafo) {
              $.getJSON("/users3", function(dadosUsuarios) {
                perfis = montarPerfil(dadosGrafo, dadosUsuarios);
                updateCards(); // Chamada  sem argumentos
              });
            });
          }
        
          function montarPerfil(dadosGrafo, dadosUsuarios) {
            let perfisLocais = {};
        
            // Primeiro, mapeamos os usuários e suas conexões do grafo
            dadosGrafo.nodes.forEach(node => {
              perfisLocais[node.user_id] = {
                conexoes: {}
              };
            });
        
          

          // Primeiro, anonimizsr os usernames e armazene em um objeto para fácil acesso
            const usernamesAnonimizados = {};
            dadosUsuarios.forEach(user => {
              usernamesAnonimizados[user.user_id] = "Dev" + user.user_id;
              // Anonimiza e atualiza os dados dos usuários aqui, se necessário
            });
            // Em seguida, combinamos com as informações adicionais dos usuários
            dadosUsuarios.forEach(user => {
              let id = user.user_id; 
        
              if (perfisLocais[id]) {
                perfisLocais[id] = {
                  nome: user.nomeCompleto, // Adiciona o nome no topo
                  username: usernamesAnonimizados[id], // Modifica para anonimizar o username
                  user_id: user.user_id,
                  contractId: user.contractId,
                  contractRoleName: user.contractRoleName,
                  projects_id: user.projects_id,
                  methodology: user.methodology,
                  hardskills: dadosGrafo.nodes.find(node => node.user_id === id).hardskill,
                  ...perfisLocais[id] // Mantém as conexões já mapeadas
                };
              }
            });


            // Em seguida, mapeie as conexões usando os usernames anonimizados
            dadosGrafo.edges.forEach(edge => {
              const sourcePerfil = perfisLocais[edge.source_user_id];
              if (sourcePerfil) {
                // Usa o username anonimizado para as conexões
                const usernameAnonimizado = usernamesAnonimizados[edge.target_user_id];
                if (usernameAnonimizado) {
                  sourcePerfil.conexoes[usernameAnonimizado] = edge.weight;
                }
              }
            });
        
            return perfisLocais;
          }

function updateCards() {
 
  //alert(JSON.stringify(perfis))  
  perfis = Object.values(perfis);
  
 
    // Calcula os índices dos cartões da esquerda, centro e direita
    let leftIndex = (currentIndex - 1 + perfis.length) % perfis.length;
    let centerIndex = currentIndex;
    let rightIndex = (currentIndex + 1) % perfis.length;

    // Log para depuração
    /*
    alert('Left index: ' + leftIndex + ', Center index: ' + centerIndex + ', Right index: ' + rightIndex);
    alert('Perfis no índice esquerdo: ' + JSON.stringify(perfis[leftIndex]));
    alert('Perfis no índice central: ' + JSON.stringify(perfis[centerIndex]));
    alert('Perfis no índice direito: ' + JSON.stringify(perfis[rightIndex]));
    */

    // Verifica se os perfis nos índices calculados existem
    if (perfis[leftIndex] && perfis[centerIndex] && perfis[rightIndex]) {
        
        // Atualiza o HTML dos cartões com as informações dos perfis
        document.getElementById('card-left').innerHTML = criarConteudoCard(perfis[leftIndex],leftIndex);
        document.getElementById('card-center').innerHTML = criarConteudoCard(perfis[centerIndex],centerIndex);
        document.getElementById('card-right').innerHTML = criarConteudoCard(perfis[rightIndex],rightIndex);
    } else {
     // alert('Perfil não encontrado nos índices: ', leftIndex, centerIndex, rightIndex);
    }
}


function criarConteudoCard(perfil,posicao) {
  let role =  perfil.contractRoleName === 'Project Manager' ? '' : 'Developer';
   avatarClass = perfil.contractRoleName === 'Project Manager' ? 'avatar-manager' : 'avatar-non-manager';
  if (!perfil) return "<div>Perfil não disponível</div>";
  let conexoesFormatadas = Object.entries(perfil.conexoes)
    .map(([key, value]) =>`${key}(${value})`)
    .join(', ');

// Remove entradas duplicadas de 'methodology' e 'hardskills'
let uniqueMethodology = [...new Set(perfil.methodology)];
  let uniqueHardskills = [...new Set(perfil.hardskills)];
  
  
 // Gera o gráfico de conexões para o perfil atual
 let graficoHardskills = formatarHardskillsParaGrafico(perfil.hardskills);
    
 let graficoConexoes = `
    <div class="grafico-conexoes"  style="max-height: 150px; overflow-y: auto;">
      ${formatarConexoesParaGrafico(perfil.conexoes)}
    </div>
  `;

  return `<div class="card-content">
    <div class="card-position">${posicao + 1}</div> <!-- Posição do perfil -->
  
    <div style="display: flex; justify-content: center; align-items: center;">
         <img src="https://felipeomc.github.io/teamplus/avatar.png" alt="Avatar" class="${avatarClass}">
    </div>
   <div class="card-header"  style="font-weight: bold;">${perfil.username}
            <br><span style="font-weight: normal;">${role} ${perfil.contractRoleName}</span>
    </div>
           
            <div class="card-body">
              <div class="graficos">
                <div class="grafico-hardskills">
                  Hardskills:<br>
                    ${graficoHardskills}
                </div>
                <div class="grafico-spacer"></div> <!-- Espaçador entre as colunas -->
                <div class="grafico-conexoes">
                  Connections:<br>
                    ${graficoConexoes}
                </div>
            </div>
              <div class="card-details">Methodology: ${uniqueMethodology.join(', ')}</div>
              
              <!--<div class="card-details">Contract Id: ${perfil.contractId}</div>
              <div>Projects Id: ${perfil.projects_id.join(', ')}</div>-->
              
              
              
          </div>
          
          </div>`;
}

// Inicializa o processo de montagem dos cartões
MontarPerfilCard();
function formatarHardskillsParaGrafico(hardskills) {
  // Converte todas as habilidades para minúsculas antes de contar
  let skillCounts = hardskills.reduce((acc, skill) => {
    let skillLower = skill.toLowerCase(); // Converte para minúsculas
    acc[skillLower] = (acc[skillLower] || 0) + 1;
    return acc;
  }, {});

  let maxCount = Math.max(...Object.values(skillCounts));
  
  let hardskillsHTML = Object.entries(skillCounts).map(([skill, count]) => {
    let width = (count / maxCount) * 100; // Calcula a largura como uma porcentagem do máximo
    return `
        <div class="hardskill-item">
            <div class="hardskill-nome">${skill.toUpperCase()} (${count})</div>
            <div class="hardskill-barra" style="width: ${width}%;"></div>
        </div>
    `;
  }).join('');

  // Envolve o HTML das hardskills em um contêiner com barra de rolagem
  return `
    <div class="grafico-conexoes" style="max-height: 150px; overflow-y: auto;">
      ${hardskillsHTML}
    </div>
  `;
}



function formatarConexoesParaGrafico(conexoes) {

   // Encontra o maior peso entre as conexões
   const pesos = Object.values(conexoes);
  const maxPeso = Math.max(...pesos);

  const conexoesOrdenadas = Object.entries(conexoes).sort((a, b) => b[1] - a[1]);
  

  return conexoesOrdenadas.map(([conexao, peso]) => {
    // Normaliza o peso em relação ao maior peso e calcula a largura proporcional
    const larguraPercentual = (peso / maxPeso) * 100; // Exemplo: para 100% de largura
    return `
      <div class="conexao-item">
        <div class="conexao-nome">${conexao} <span class="peso">(${peso.toFixed(2)})</span></div>
        <div class="conexao-barra" style="width: ${larguraPercentual}%;"></div>
      </div>
    `;
  }).join('');
}





document.getElementById('card-container').addEventListener('click', function(event) {
    let targetCard = event.target.closest('.cardProfile'); // Obtém o cartão clicado
    if (targetCard) {
        if (targetCard.id === 'card-right') {
            // Move o cartão da direita para o centro
            currentIndex = (currentIndex + 1) % perfis.length;
            updateCards();
        } else if (targetCard.id === 'card-left') {
            // Move o cartão da esquerda para o centro
            currentIndex = currentIndex - 1 < 0 ? perfis.length - 1 : currentIndex - 1;
            updateCards();
        }
    }
});



</script>

  
            </div>
          </div>
		      
    </section>
    <!-- /.content -->
    
   
  </div>
  
  <div width="900" height="210" id="popup" class="popup" style="display: none; z-index: 99999999999;"  >
    <div class="but"><button id="close">&times;</button> </div>
    
    <canvas  id="myChart"> </canvas>
  </div>
  



  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

	


 

    
</body>
</html>