<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
    <h1 class="text-center title-1"> Cadastro de Usu&aacute;rio </h1>
    <form action="/user" method="post">
        <p>id:<input type="number" name="id" /></p>
        <p>sigId:<input type="number" name="sigId" /></p>
        <p>contractId:<input type="number" name="contractId" /></p>
        <p>user:<input type="text" name="user" /></p>
        <p>contractRole:<input type="text" name="contractRole" /></p>
        
        <p><input type="submit" value="Salvar" /></p>
    </form>
</body>

</html>