<!DOCTYPE html>
<html lang="en">

<head></head>

<body>

    


    <h1 class="text-center title-1"> Lista de Usu&aacute;rios </h1>
    <ul>
        <% docs.forEach((user)=> { %>
            <li>id:<%= user.id %> Contract:<%= user.contractId %> User: <%= user.user.username %>   Role: <%= user.contractRole.name %> 
                
                
                
           </li>
            <%})%> 
    </ul>

    <div id="results"></div>
</body>

</html>